{% extends 'basic.html' %}
{% block content %}

    <style>
      .about{
        text-align: center;
      }
    </style>

    <br>
    <br>
    <br>
    <h3 class="about"> <b> About Us </b></h3>
    Hello, {{output}}
    <br>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, animi? Sint repudiandae dolorum sapiente dolores iusto debitis laborum, iste animi, nesciunt suscipit corporis laudantium, cumque earum facere. Perferendis, exercitationem modi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci sint inventore est omnis veniam alias optio quibusdam temporibus dolore aut, nam corrupti assumenda, impedit accusamus repudiandae quos reprehenderit expedita illum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quo velit quibusdam dignissimos ducimus suscipit, error voluptatibus. Temporibus repudiandae ex esse eum nam consequatur ipsa corporis vitae, assumenda commodi porro?
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci sint inventore est omnis veniam alias optio quibusdam temporibus dolore aut, nam corrupti assumenda, impedit accusamus repudiandae quos reprehenderit expedita illum.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, animi? Sint repudiandae dolorum sapiente dolores iusto debitis laborum, iste animi, nesciunt suscipit corporis laudantium, cumque earum facere. Perferendis, exercitationem modi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci sint inventore est omnis veniam alias optio quibusdam temporibus dolore aut, nam corrupti assumenda, impedit accusamus repudiandae quos reprehenderit expedita illum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quo velit quibusdam dignissimos ducimus suscipit, error voluptatibus. Temporibus repudiandae ex esse eum nam consequatur ipsa corporis vitae, assumenda commodi porro?
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci sint inventore est omnis veniam alias optio quibusdam temporibus dolore aut, nam corrupti assumenda, impedit accusamus repudiandae quos reprehenderit expedita illum.
    </p>
{% endblock %}